extends layout

block content
  <script src="javascripts/jquery.md5.js"></script>
  <script src='https://code.jquery.com/jquery-git.js'></script>
  <script src='javascripts/functions.js'></script>
  h1= title
  a(onClick='getProduct()') определить продукт
  h3= "Здесь будет отражен продукт"
  img

